# Gzip compressor
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml js/x-javascript

BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

# cache for apache
<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType img/webp "access plus 1 year"
  ExpiresByType img/svg+xml "access plus 1 year"
  ExpiresByType img/x-icon "access plus 1 year"

  # Fonts
  ExpiresByType fonts/ttf "access plus 1 year"
  ExpiresByType fonts/otf "access plus 1 year"
  ExpiresByType fonts/woff "access plus 1 year"
  ExpiresByType fonts/woff2 "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType css/css "access plus 1 year"
  ExpiresByType js/javascript "access plus 1 year"

</IfModule>